html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 2rem;
    background-color: black;
    color: white;
    // animation: fadewhite 1s forwards 2s;
}

// @keyframes fadewhite {
//     to {
//         background-color: #fff;
//         color: $base-font-color;
//     }
// }