$logo-color : #fddb3a;
$grey-c : #41444b;
$light-grey-c : #52575d;
$light-c : #f6f4e6;
$hover-link : #696969;
$hover-home-link : #ff9642;
$base-font-color : #212529;

//icon colors
$css : #1871b6;
$html : #df4a17;
$js : #f3ba2c;
$react : #5ed3f3;
$redux : #7247b5;
$sass : #cf649a;
$bootstrap : #6f43a4;
$git : #f4511e;
$test : rgb(85, 165, 85);